:root {
    --primary-color: crimson;
    --primary-btn : rgb(071,001,005);
    --font-base : 'poppins';

}

body {
    font-family: var(--font-base);
   ;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: purple;
}

.bg-light {
    background-color: var(--primary-color) !important;
    
}



nav li {
    position: relative;
}

 nav .active::after{
    content: '';
    position:absolute;
    top:80%;
    left:50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
    background-color: #fff;
}

/* paragrap */

article  p{
    font-family: 'roboto';
}

/* search */


 .search-mobile {
    position:absolute;
    top:-5%;
    left:-800%;
    opacity:0;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: none;
    
}
.show-menu-mobile{
    pointer-events: auto;
     top:170%;
     opacity: 1;
}

nav input[type='search'] {
    width:5rem;
}

/* content */


/* footer */

footer {
    margin-top: auto;
}


/* btn */

.btn-success{
    background-color: var(--primary-btn);
    color:white;
}


/* hiden item */
.search-icon-mobile{
    display: none;
}

@media screen and (max-width:992px) {
    nav .active::after{
        display:none;
    }

    .search-icon-mobile{
        display: block;
    }

    /* hidden-item */
    nav .search-container{
        display: none;
    }
}