<footer class="bg-light text-white p-3">
    <div class="container  text-white d-flex justify-content-between align-items-center flex-column flex-sm-row">
        <div class="social-media">
            <span class="fs-5 text-center text-white d-block fw-bolder">Follow Me</span>
            <ul class="list-unstyled d-flex justify-content-evenly align-items-center gap-4">
                <li><a href="">
                    <i class="fs-2 text-white bi bi-instagram"></i>
                </a></li>
                <li><a href="">
                    <i class="fs-2 text-white bi bi-facebook"></i>
                </a></li>
                <li><a href="">
                    <i class="fs-2 text-white bi bi-twitter"></i>
                </a></li>
            </ul>
        </div>
        <span>Copyright {{now.Format "2006"}} CodeNexus</span>
    </div>

</footer>

   