<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{.Site.Params.autohor}}">
    <meta name="description" content="{{- with .Page.Description -}}
    {{.}}
    {{- else -}}
    {{.Site.Params.description}}
    {{- end -}}">
    <meta name="keywords" content="
{{- with .Page.Keywords}}
            {{.}}
        {{- else -}}
            {{.Site.Params.keywords}}
        {{- end -}}" >
    {{ range .AlternativeOutputFormats -}}
    {{- $link := `<link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}
    {{- if $.Page.IsHome -}}
    {{ $title = $.Site.Title }}
    {{- end -}}
    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{- end }}

    <title>
        {{- if .Page.IsHome -}}
            {{.Site.Title}}
        {{- else -}}
            {{.Title}} - {{.Site.Title}}
        {{- end -}}
    </title>
    
    
    <link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/bootstrap-icons.css" | relURL}}">
    <link rel="stylesheet" href="{{ "css/costume.css" | relURL }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,800;1,300;1,500&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    
  
    


</head>
